header {
  padding: 56px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.user-name {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 15px;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
